$--fonts-body: "Biotif", sans-serif;
$--fonts-code: "Fira Code", monospace;
$--fonts-heading: "Neuzeit Grotesk Bold", sans-serif;

$--colors-yellow: #ffff80;
$--colors-pink: #ff80bf;
$--colors-purple: #9580ff;
$--colors-red: #ff9580;
$--colors-orange: #ffca80;
$--colors-green: #8aff80;
$--colors-cyan: #80ffea;
$--colors-primary: #ffffff;
$--colors-secondary: #cfd6e6;
$--colors-background: #0e1217;
$--colors-background-secondary: #0b0d12;
$--colors-hover: #20262D;
$--colors-command: rgba(255, 255, 255, 0.05);

$--space-navHeightDesktop: 60px;
$--space-navHeightMobile: 110px;

$--transitions-duration: 0.2s;

$--radii-borderRadius: 8px;
