$--colors-primary: #f2f2f2;
$--colors-secondary: #8f9ba8;
$--colors-background: #08070b;
$--colors-hover: #212024;
$--colors-command: rgba(255, 255, 255, 0.05);
$--fonts-body: "Biotif-Regular", sans-serif;
$--fonts-code: "Fira Code", monospace;
$--fonts-heading: "Neuzeit Grotesk Bold", sans-serif;
